html, body {
	width: 1280px;
	height: 980px;
	margin: 0 auto;
}

#grid-container {
	display: flex;
	flex-direction: column;
	height: 60vh;
	width: 60vh;
	border: 1px solid black;
	margin: 0 auto;
}

.row_container_div {
	display: flex;
	flex-direction: row; 
	flex: 1 1 auto;
}

.row_div {
	flex: 1 1 auto;
	
}

#button-container {
	display: flex;
	justify-content: space-around;
	margin-top: 2em; 
	margin-bottom: 2em;
}

#clear-button {
	width: 8em; 
	height: 3em; 
}